/* CSS Variables */
:root {
    --normal-font: 200;
    --bold-font: 600;
    --bolder-font: 500;
    --primary-color: #093a96;
    --secondary-color: rgb(83, 83, 83);
    --line-height: 1rem;
    --transition: 0.05s ease-in;
}
  
  /* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}
  
  /* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}
  
body {
    width: 1920;
    height: 1080;
    font-family: "Roboto", sans-serf;
}
  
ul li {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover {
    color: var(--secondary-color);
} 

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    font-size: 2rem;
    font-weight: 250;
    
}
  
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-item {
    margin-left: 2rem;
    
}
  
.nav-link {
    font-size: 1.5rem;
    font-weight: var(--bold-font);
}

.landing-page {
    background-image: url("../img/background_picture.png");
    background-position: 0%;
    background-size: cover;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    max-width: 1000px;
    margin: 4rem auto -6rem;
}

.intro-text {
    justify-content: center;
}


.intro-text h2{
    text-align: center;
    width: 700px;
    font-size: 2.8rem;
    font-weight: 900;
    margin-right: 0%;
    padding: 1rem;
}

.intro-text h3{
    margin-left: 0px;
    text-align: center;
    width: 720px;
    font-size: 1.8rem;
    padding: 1rem;
}