    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    html{
        font-family: monospace;
    }

.navbar{
    background-image: linear-gradient(to right, rgb(31, 31, 95), rgb(47, 47, 47));
    min-width: 100%;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    display: flex;
}

.navlogo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.nav-item{
    margin-right: 1rem;
    display: inline-block;
}

.nav-link{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover{
    color: rgb(122, 112, 125);

}

li{
    list-style-type: none;
}

.p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color:black;
    text-align: justify;
}

.midia{
    align-items:center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    display: flex;
}

.video {
    float:left;
    display: inline-flexbox;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;


} 

.mapa {
    float:right;
    display: inline-flexbox;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
 
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.titulos_controle{
    float: left;
    display: inline-flexbox;
    margin-left: 15%;
}



.directional-buttons {
    margin: 1rem;
    margin-left: 20%;
    width: 16rem;
    height: 16rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 45fr 60fr 45fr;
    grid-template-rows: 45fr 60fr 45fr;
    grid-template-areas: "....  up  ....."
                         "left  ..  right"
                         ".... down .....";    
}
  
  
.visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
  
  
.direction-button {
    color: rgb(55, 50, 50);
    background: currentcolor;
    border: none;
    position: relative;
}
  
  
.direction-button:before {
    display: block;
    content: "";
    position: absolute;
    width: 4.25rem;
    height: 4.25rem;
    transform: rotate(45deg);
    background: currentcolor;
}
  
  
.direction-button:after {
    display: block;
    content: "";
    position: absolute;
    border: 2rem solid transparent;
    color: rgba(255, 250, 250, 0.6);
}
  
  
  .direction-button:hover {
    color: rgb(59, 55, 85);
}
  
  
  .direction-button:active:after {
    color: rgb(152, 181, 255);
}

.up {
    grid-area: up;
    border-radius: 0.5rem 0.5rem 0 0;
}

.up:before {
    left: calc(50% - 2.125rem);
    bottom: -2.125rem;
}

.up:after {
    border-bottom-color: currentcolor;
    left: calc(50% - 2rem);
    top: -1rem;
}
  
.left {
    grid-area: left;
    border-radius: 0.5rem 0 0 0.5rem;
}

.left:before {
    right: -2.125rem;
    top: calc(50% - 2.125rem);
}

.left:after {
    border-right-color: currentcolor;
    top: calc(50% - 2rem);
    left: -1rem;
}
  
.right {
    grid-area: right;
    border-radius: 0 0.5rem 0.5rem 0;
}

.right:before {
    left: -2.125rem;
    top: calc(50% - 2.125rem);
}

.right:after {
    border-left-color: currentcolor;
    top: calc(50% - 2rem);
    right: -1rem;
}

  
.down {
    grid-area: down;
    border-radius: 0 0 0.5rem 0.5rem;
}

.down:before {
    left: calc(50% - 2.125rem);
    top: -2.125rem;
}

.down:after {
    border-top-color: currentcolor;
    left: calc(50% - 2rem);
    bottom: -1rem;
}

.titulos_dados{
    float: right;
    display: inline-flexbox;
    margin-right: 5%;
}

.footer{
    bottom: 0;
    background-image: linear-gradient(to right, rgb(31, 31, 95), rgb(47, 47, 47));
    min-width: 100%;
    min-height: 50%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    display: flex;
    
}

.footer h3{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}